.background{
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)), url("./assets/cooking.jpg");
  background-size: cover;
  background-repeat: none;
  background-color: transparent
}